<div class="d-flex bd-highlight bg-primary">
  <div class="p-2 flex-grow-1 bd-highlight"><%= link_to "Home", posts_path, class:"nav-link", style:"color: white"%></div>
  <% if user_signed_in? %>
    <div class="p-2 bd-highlight"><%= link_to current_user.email, edit_user_registration_path, class:"nav-link", style:"color: white" %>
    </div>
    <div class="p-2 bd-highlight"><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link", style:"color: white" %></div>
  <% else %>
    <div class="p-2 bd-highlight"><%= link_to "Sign in", new_user_session_path, class:"nav-link", style:"color: white" %>
    </div>
    <div class="p-2 bd-highlight"><%= link_to "Sign up", new_user_registration_path, class:"nav-link", style:"color: white" %></div>
<% end %>
</div>
