<p id="notice"><%= notice %></p>

<h1>Home</h1>
<br>
<% @posts.each do |post| %>
  <div class="card mb-3" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title" style="color: purple"><%= post.title %></h5><hr>
      <p class="card-text"><%= post.body %></p>
      <small><%= time_ago_in_words(post.created_at) %> ago </small>
      <% if user_signed_in? %>
      <span class="font-weight-bold">
      <small >by <%= post.user.try(:email) %></small>
      <span class="btn btn-light"><%= link_to 'Edit', edit_post_path(post) %></span>
      <span class="btn btn-light"><%= link_to 'Show', post %></span>
      <span class="btn btn-light"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </span>
      <% else %>
      <small>Anonymous</small>
      <% end %>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
<%= link_to 'Create New Post', new_post_path, class: "btn btn-success", style:"color: white" %>
<% end %>
